body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.questions {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(rgba(57, 159, 242, 0.7), rgba(37, 75, 131, 0.71));
    position: relative;
}
.question_box{
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    padding-left: 10px;
    width: 100%;
    height:10%;
    box-shadow: 0 0.5px 7px 1px rgba(0, 0, 0, 0.541);
    display:flex;
    justify-content: space-between;
}
.timer {
   margin-top: 7px;
   margin-right: 40px;
    width: 90px;
    height: 40px;
    background-color: rgba(37, 75, 131, 0.71);
    border-radius:10%;
}
.question p{
   margin: 50px 20px 20px 20px;
   padding: 5px;
   font-weight: 600;
   box-shadow: 0 0 5px 0.1px black;
   border-radius:10px;
}
.options-list{
    text-align: center;
    width:100%;
    height: 50%;
}
.options-list div{
    width:70%;
    height:15%;
    margin-left: 15%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
}

 .options-list div:hover{
     background-color: rgba(33, 183, 253, 0.6) ;
     box-shadow: 0 0 2px 1px black;
     
     cursor: pointer;
 }
 .footer{
     background-color: black;
     height: 12%;
     margin-top: 10%;
     display: flex;
     justify-content: right;
 }
.footer button{
   border:1px solid rgba(33, 183, 253, 0.945);
    border-radius: 7px;
    margin-top:  7px;
    margin-right: 30px;
    width: 90px;
    height: 40px;
}
.fotter button:focus{
    outline: none;
}
.footer button:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgba(33, 183, 253, 0.945);
}
@media screen and (max-width:786px){
    .question_box{
        width: 70vw;
        height: 70vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 22px -8px #0004;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .header{
        width: 100%;
        height:10%;
    }
}